* {
    box-sizing: border-box;
}

body {

}

header {
    background-color: #028fe0;

}

header h1 {
    color: white;
    text-align: center;
    margin: 0;
}

section {
    display: flex;
    justify-content: center;
}

p {
    max-width: 800px;
}

#articles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

article {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h5 {
    color: #028fe0;
}

main {
    max-width: 900px;
    border: 1px solid black;
    padding-bottom: 1rem;
}