* {
    box-sizing: border-box;
}

body {
    background-image: url("assets/bgimage.png");
    width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    gap: 1rem;
}

nav {
    background-color: white;
    flex-shrink: 0;
    width: 300px;
    height: 200px;
}

nav a {
    display: block;
    line-height: 3rem;
}

section {
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
}

hr {
    width: 60%;
    margin: 0 100px;
    border: none;
    height: 3px;
    background-color: #283e4a;
}

article {
    align-content: space-between;
    position: relative;
    width: 30%;
    border-bottom: 4px solid #283e4a;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

}

article img {
    max-width: 100%;
}

#nieuw {
    position: absolute;
    background-color: red;
    right: 0;
    padding: 5px;
}

header {
    background-color: #283e4a;
    width: 100%;
    height: 4rem;
}

header h1 {
    color: white;
    position: relative;
    left: 1rem;
    top: 1em;
    font-size: 1rem;
    font-family: serif;
}

header h3::first-letter {
    font-size: 1.5rem;
}

#top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #283e4a;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top a {
    text-align: center;
    color: white;
    display: block;
    text-decoration: none;

}

h1 {
    text-align: left;

}

#mezelf {
    height: 175px;
    float: left;
}


figure {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

figcaption {
    margin: 0;
    font-style: normal;
    display: flex;
    flex-direction: column;
}

span {
    font-weight: bold;
    font-style: italic;
    background-color: lightgray;
}

