* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #45201b;
    padding-bottom: 2rem;
}

h1, h3 {
    margin: 10px;
}

h3 {
    font-weight: normal;
}

section {
    background-color: #a43a24;
}

ul {
    display: flex;
    flex-direction: row;
    max-width: 50%;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}

li {
    list-style: none;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}